* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(to bottom left, rgb(245, 238, 5),
            rgb(161, 52, 6));
    background-attachment: fixed;
}

header {
    background-color: lawngreen;
    border-bottom: 5px solid darkgreen;
    height: 60px;
    width: 100%;
    padding: 10px;
}

h3 {
    font-size: 130%;
}

ul {
    list-style: none;
    font-size: 24px;
}

li {
    display: inline;
    padding: 10px;
}

.header-bar {
    display: inline;
    font-size: 200%;
    padding: 8px;
    margin-left: 30px;
}

.links {
    float: right;
    margin-top: 5px;
    margin-right: 40px;
}

.this-is-me {
    display: inline;
    float: right;
    margin-top: 5px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
}

.snowboard-photo {
    border: 5px solid darkblue;
    border-radius: 30px;
    display: block;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}

.photo-of-me {
    float: left;
    width: 25%;
}

.profile-photo {
    border: 3px ridge black;
    border-radius: 5px;
    margin-top: 70px;
    margin-left: 100px;
}

.profile-title {
    margin-left: 105px;
}

.welcome-para {
    font-size: 20px;
    width: 55%;
    float: right;
    margin: 50px;
    text-align: center;
    padding: 10px;
}

.welcome-head {
    text-align: center;
    margin: 20px;
}

.links-to-project {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 3px;
}

img {
    border: 3px solid yellow;
    border-radius: 20px;
}

.projectlinks {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
    list-style: none;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.mydoggo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
}

.dogtitle {
    text-align: center;
}

.mycontacts {
    display: block;
    list-style: none;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: var(--boxc);
    border-color: var(--borderc);
    border-style: solid;
}

footer {
    width: 40%;
    text-align: center;
    background-color: var(--boxc);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    border-style: solid;
    border-color: var(--borderc);
}

@media screen and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom left, pink, purple);
    }

    header {
        background-color: lavender;
    }

    .this-is-me {
        flex-direction: column;
    }

    .welcome-para {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: linear-gradient(to bottom, white, blue);
    }

    header {
        background-color: lightblue;
    }

    .snowboard-photo {
        width: 60%;
    }

    .header-bar {
        font-size: 100%;
    }

    ul {
        font-size: 16px;
    }
}